<header class="header">

    <div class="brand">VALERIA KU</div>

    <div class="menu-wrapper">

        <button class="menu" id="menuBtn" type="button">
            <span class="menu-text">Menu</span>
            <span class="menu-code">&lt;&gt;</span>
        </button>

        <nav class="nav-dropdown" id="navDropdown">

            <ul class="nav-list">

                <li>
                    <a href="#about" class="rolling-link">
                        <span class="rolling-text">
                            <span>S</span>
                            <span>o</span>
                            <span>b</span>
                            <span>r</span>
                            <span>e</span>
                            <span>&nbsp;</span>
                            <span>m</span>
                            <span>í</span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#projects" class="rolling-link">
                        <span class="rolling-text">
                            <span>P</span>
                            <span>r</span>
                            <span>o</span>
                            <span>y</span>
                            <span>e</span>
                            <span>c</span>
                            <span>t</span>
                            <span>o</span>
                            <span>s</span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#contact" class="rolling-link">
                        <span class="rolling-text">
                            <span>C</span>
                            <span>o</span>
                            <span>n</span>
                            <span>t</span>
                            <span>a</span>
                            <span>c</span>
                            <span>t</span>
                            <span>o</span>
                        </span>
                    </a>
                </li>

            </ul>

        </nav>

    </div>

</header>